<td> Movie </td>
<td> Company </td>
<td> Rating </td>
<td> Source Available? </td>
<td> Party </td>
<td> Encoding Works </td>
<td> Live? </td>
<td> Agreement - Exclusive/Non-Exclusive </td>
<td> Revenue/Outright </td>
<td> Expiry Date </td>